<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">

<style>
svg {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
}

.bar {
    shape-rendering: crispEdges;
}

.bar:hover {
    fill: lightskyblue;
}

.text {
    fill: #fff;
}
</style>
</head>

<body>
<div id="chart"></div>
<div style="width:250px; height: 500px; position:absolute; right:2px; top:0; padding-top:5px" id="sidebar">
    <div id="toggle_sidebar"><button <button style="float: right">toggle settings</button></div>
        <div id="sidebar_content" style="height: 100%; background:white; padding:5px; display:none">
        <p>
            <label for="autoscale">Autoscale</label>
            <input id="autoscale" type='checkbox' checked></input>
        </p>

        <p>
            <label for="binwidth">Binwidth</label>
            <select id="binwidth">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option selected value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            ms
        </p>

        <p>
            <label for="yaxis_mode">Mode of y-axis</label>
            <select id="yaxis_mode">
                <option value="rate">rate</option>
                <option selected value="spike_count">spike count</option>
            </select>
        </p>

        <p>
            <label for="chart_mode">Mode of chart</label>
            <select id="chart_mode">
                <option selected value="bars">bars</option>
                <option value="line">line</option>
            </select>
        </p>


        <p>
            <label for="interpolate">Interpolation</label>
            <select id="interpolate">
                <option selected value="step">step</option>
                <option value="linear">linear</option>
                <option value="monotone">monotone</option>
                <option value="cardinal">cardinal</option>
                <option value="basis">basis</option>
                <option value="bundle">bundle</option>
            </select>
        </p>

        <p>
            <label for="nHue" style="display: inline-block; width: 240px">
               hue = <span id="nHue-value">…</span>
            </label>
            <input class="hsl" type="range" min="0" max="360" id="nHue" value="180">

            <label for="nSaturation" style="display: inline-block; width: 240px">
               saturation = <span id="nSaturation-value">…</span>
            </label>
            <input class="hsl" type="range" min="0" max="1" step=".01" id="nSaturation" value=0.5>

            <label for="nLuminance" style="display: inline-block; width: 240px">
                luminance = <span id="nLuminance-value">…</span>
            </label>
            <input class="hsl" type="range" min="0" max="1" step=".01" id="nLuminance" value=0.5>
        </p>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/d3.min.js" charset="utf-8"></script>
<script type="text/javascript">
var data = [];
// Get the data
d3.text("/static/{{path}}", function(text) {
    data = d3.tsv.parseRows(text).map(function(row) {
        return {x: parseFloat(row[1]), y: parseInt(row[0])}
      });
});

<!--var binwidth = {{ binwidth }}-->
<!--binwidth = (binwidth === undefined) ? 25 : binwidth;-->
var binwidth = parseInt(d3.select("#binwidth").node().value);

var margin = {top: 30, right: 20, bottom: 30, left: 40}, 
    width = 960 - margin.left - margin.right, 
    height = 500 - margin.top - margin.bottom;


window.onload = function() {
    $( "#toggle_sidebar button" ).click(function() {
      $( "#sidebar_content" ).toggle()
    });

    var xScale = d3.scale.linear().range([0, width]).domain(d3.extent(data, function(d) { return d.x })).nice(10);
    var yScale = d3.scale.linear().range([height, 0]);

    var xAxis = d3.svg.axis().scale(xScale).orient("bottom").ticks(5);
    var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(5);

    var svg = d3.select('#chart').append('svg')
        .attr('width', width + margin.right + margin.left)
        .attr('height', height + margin.top + margin.bottom)
<!--        .call(d3.behavior.zoom().x(xScale).scaleExtent([1, 10]).on("zoom", zoomed))-->
      .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

    var line = d3.svg.line().x(function(d) { return xScale(d.x+binwidth/2); }).y(function(d) { return yScale(d.y); }).interpolate(d3.select("#interpolate").node().value);
        svg.append("path").attr("stroke", "blue").attr("stroke-width", 2).attr("fill", "none");

    svg.append("text")
        .attr("class", "title")
        .attr("x", width/2-margin.left)
        .attr("y", -10)
        .text("Spike histogram");

    // draw the x axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
      .append("text")
        .attr("class", "x label")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", margin.bottom-1)
        .text("Time (ms)");

    // draw the y axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
      .append("text")
        .attr("class", "y label")
        .attr("transform", "rotate(-90)")
        .attr("y", -38)
        .attr('x', -height/2+margin.top)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Spike count");

    update();
    update_color();

    d3.selectAll("#autoscale").on("change", update);
    d3.selectAll("#binwidth").on("change", update);
    d3.selectAll("#yaxis_mode").on("change", update);
    d3.selectAll("#chart_mode").on("change", update);
    d3.selectAll("#interpolate").on("change", update);
    d3.selectAll(".hsl").on("input", update_color);

    // update the elements
    function update_color() {
        var hue = d3.select('#nHue').property('value');
        // adjust the text on the range slider
        d3.select("#nHue-value").text(hue);
        d3.select("#nHue").property("value", hue);

        var sat = d3.select('#nSaturation').property('value');
        // adjust the text on the range slider
        d3.select("#nSaturation-value").text(sat);
        d3.select("#nSaturation").property("value", sat);

        var lum = d3.select('#nLuminance').property('value');
        // adjust the text on the range slider
        d3.select("#nLuminance-value").text(lum);
        d3.select("#nLuminance").property("value", lum);

        // change the color of bars
        d3.selectAll('.bar').attr('fill', d3.hsl(hue,sat,lum))
        svg.select('path').attr('stroke',d3.hsl(hue,sat,lum))
    }

    function update() {
        binwidth = parseInt(d3.select("#binwidth").node().value);
        var bins = d3.range(xScale.domain()[0], xScale.domain()[1]+1, binwidth)
        var bins = d3.range(0, d3.max(data,function(d) {return d.x})+binwidth, binwidth)
        hist = d3.layout.histogram()
            .bins(bins)
            (data.map(function(d) {return d.x; }));

        if (d3.select("#yaxis_mode").node().value == 'rate') {
            hist.map(function(d) {d.y = d.y / parseFloat(d3.select("#binwidth").node().value) / 100. * 1000. })
        }

        yScale.domain(d3.select('#autoscale').property('checked') ? d3.extent(hist, function(d) { return d.y; }) : [0,d3.max(hist, function(d) {return d.y})]).nice(10);

        svg.selectAll(".bar").data(hist)
          .enter().append("rect")
            .attr("class", "bar");

        svg.selectAll(".bar").data(hist)
            .attr("height", function(d) { return height- yScale(d.y)-1; })
            .attr("width", function(d) { return width / hist.length - 1; })
            .attr("x", function(d) {return xScale(d.x) + .5})
            .attr("y", function(d) {return yScale(d.y)})
            .attr('fill', d3.hsl(d3.select("#nHue").property('value'),d3.select("#nSaturation").property('value'),d3.select("#nLuminance").property('value')))
            .style('display', (d3.select("#chart_mode").node().value == 'line') ? 'none' : '');

        svg.selectAll(".bar").data(hist).exit()
           .remove();

        line.interpolate(d3.select("#interpolate").node().value);
        svg.select('path').attr("d", line(hist))
            .attr('stroke', d3.hsl(d3.select("#nHue").property('value'),d3.select("#nSaturation").property('value'),d3.select("#nLuminance").property('value')))
            .style('display', (d3.select("#chart_mode").node().value == 'line') ? '' : 'none');

        if ((binwidth >= 20) * (d3.select("#chart_mode").node().value == 'bars')) {
            svg.selectAll(".text").data(hist)
              .enter().append("text")
                .attr("class", "text")
                .attr("text-anchor", "middle");

            svg.selectAll(".text").data(hist)
                .attr("x", function(d) {return xScale(d.x + binwidth/2)})
                .attr("y", function(d) {return yScale(d.y) + 14 })
                .text(function(d) { return d3.format(",.0f")(d.y); })

            svg.selectAll(".text").data(hist).exit()
               .remove();
        } else {
            svg.selectAll(".text").data(hist).remove();
        }

        d3.select(".y.axis").call(yAxis);
        d3.select(".y.label").text((d3.select("#yaxis_mode").node().value == 'rate') ? "Rate [Hz]" : "Spike count")
    }

    function zoomed() {
        svg.select(".x.axis").call(xAxis);
        svg.select(".y.axis").call(yAxis);
        svg.selectAll("rect").attr("transform", "translate(" + d3.event.translate[0] + ",0)scale(" + d3.event.scale + ", 1)");
        svg.selectAll("path").attr("transform", "translate(" + d3.event.translate[0] + ",0)scale(" + d3.event.scale + ", 1)");
        svg.selectAll(".text").attr("transform", "translate(" + d3.event.translate[0] + ",0)scale(" + d3.event.scale + ", 1)");
    }
};
</script>

</body>
</html>
