<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">

<style>
svg {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
</head>

<body>

<script type="text/javascript" src="/static/js/d3.min.js" charset="utf-8"></script>
<script type="text/javascript">
var data_set = [];
// Get the data
d3.text("/static/{{path}}", function(text) {
    data_set = d3.tsv.parseRows(text).map(function(row) {
        return {id: parseInt(row[0]), x: parseFloat(row[1]), y: parseFloat(row[2])}
      });
});

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

window.onload = function () {
    var xScale = d3.scale.linear()
        .range([0, width])
        .domain(d3.extent(data_set, function(d) { return d.x }))
        .nice(10);

    var yScale = d3.scale.linear()
        .range([height, 0])
        .domain(d3.extent(data_set, function(d) { return d.y }))
        .nice(10);

    var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .ticks(5);

    var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .ticks(5);

    var color = d3.scale.category10().range();

    var line = d3.svg.line()
        .interpolate("monotone")
        .x(function(d, i) { return xScale(d.x); })
        .y(function(d) { return yScale(d.y); });

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", "voltmeter")
        .call(d3.behavior.zoom().x(xScale).scaleExtent([1, 10]).on("zoom", zoomed))
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("defs").append("clipPath")
        .attr("id", "clip")
      .append("rect")
        .attr("width", width)
        .attr("height", height);

    svg.append("text")
        .attr("class", "title")
        .attr("x", width/2-margin.left)
        .attr("y", -10)
        .text("Voltage trace");

    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", height+margin.bottom-12)
        .attr("dy", ".75em")
        .text("Time (ms)");

    svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "middle")
        .attr("x", -height/2)
        .attr("y", -(margin.left-5))
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .text("Membrane potential (mV)");

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    var ids = d3.set(data_set.map(function(d) {return d.id})).values();
    for (var i=0; i<10;i++) {
        var data = data_set.filter(function(d) { return d.id == parseInt(ids[i]) });
        svg.append("path")
            .datum(data)
            .attr("class", "line")
            .attr("clip-path", "url(#clip)")
            .style("stroke", color[i % 10] )
            .attr("d", line);
    }

    function zoomed() {
        svg.select(".x.axis").call(xAxis);
        svg.select(".y.axis").call(yAxis);
        svg.selectAll(".line").attr("d", line)
    }
}
</script>

</body>
</html>
